@charset "utf-8";

body {
    font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
    line-height: 24px;
    background-color: #f2f2f2;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
    -webkit-appearance: none;
}

::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-top: none;
    border-bottom: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: rgba(0, 0, 0, .3);
    background-clip: padding-box;
}

/*导航栏*/

.fixed-top {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.layui-header {
    position: relative;
    height: 60px;
    background: rgba(255, 255, 255, .98);
    box-shadow: 0 0 1px rgba(0, 0, 0, .3);
}

.layui-header .layui-logo {
    position: absolute;
    top: 7px;
    left: 15px;
}

@media screen and (max-width: 768px) {
    .layui-header {
        height: 56px;
    }

    .layui-header .layui-logo {
        top: 8px;
        left: 15px;
    }
}

.layui-nav {
    height: 60px;
    background: rgba(255, 255, 255, .98);
    position: absolute;
    right: 0;
    top: 0;
}

.layui-nav > .layui-nav-item > a {
    line-height: 60px;
    font-size: 18px;
}

.layui-nav > .layui-nav-item > a:hover {
    color: #A0DAD0 !important;
}

.layui-nav .layui-nav-more {
    border-color: #666 transparent transparent;
    top: 30px;
}

.layui-nav .layui-nav-mored, .layui-nav-itemed .layui-nav-more {
    top: 28px;
    border-color: transparent transparent #666;
}

.layui-nav .layui-nav-item a {
    color: #666 !important;
    -webkit-transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
    -moz-transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
    transition: color 0.2s ease-out, border 0.2s ease-out, opacity 0.2s ease-out;
}

.layui-nav .layui-nav-child {
    top: 65px;
}

.layui-nav .nav-search {
}

.layui-nav .logo {
    padding: 0;
}

.user-info > img {
    margin-top: -6px;
}

@media screen and (max-width: 768px) {
    .layui-nav {
        height: auto;
        border: 1px solid #ddd;
        top: 56px;
    }

    .layui-nav .layui-nav-item {
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .layui-nav .layui-nav-item:last-child {
        border-bottom: 0;
    }

    .layui-nav > .layui-nav-item > a {
        line-height: 55px;
    }

    .layui-nav .layui-nav-more {
        top: 26px;
    }

    .layui-nav .layui-nav-mored {
        top: 20px;
    }

    .layui-nav .layui-nav-child {
        top: 60px;
    }
}
